body {
     margin: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-color: #cddff4; color: #333; } 

 .navbar { 
         background-color: #ee1212; padding: 0.5em 0; } 
         
.navbar ul {
     list-style: none; margin: 0; padding: 0; display: flex; justify-content: center; }  

.navbar li { 
    margin: 0 15px; } 

.navbar a {
     text-decoration: none; color: white; font-weight: bold; padding: 10px 15px; transition: background-color 0.3s ease; border-radius: 5px; }     
    
.navbar a:hover {
     background-color: #f8e321; color: #000; }

.boton {
     color: white;
    text-decoration: none;
    padding: 15px;
    margin: 5px 10px;
    background-color: #5cc416;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    }
        
        
.boton:hover {
    background-color: #18ec70;
    transform: scale(1.1);
    }
        
  
    
    .galeria img {
     transition: transform 0.5s ease, box-shadow 0.5s ease; transform-style: preserve-3d; border-radius: 10px; cursor: pointer
 
 }